jenkins:
  systemMessage: "Jenkins configuré automatiquement avec Ansible"

  securityRealm:
    local:
      allowsSignup: false

      users:
        - id: "{{ jenkins_admin_user }}"
          name: "{{ jenkins_admin_full_name }}"
          password: "{{ jenkins_admin_password }}"
          properties:
            - mailer:
                emailAddress: "{{ jenkins_admin_email }}"

  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: false