# roles/traefik/templates/dynamic/middlewares.yml.j2
# Middleware definitions for Traefik

http:
  middlewares:
    rate-limit:
      rateLimit:
        average: 100
        burst: 200

    secure-headers:
      headers:
        stsSeconds: 31536000
        stsIncludeSubdomains: true
        stsPreload: true
        forceSTSHeader: true
        contentTypeNosniff: true
        browserXssFilter: true
        frameDeny: true
        customFrameOptionsValue: "SAMEORIGIN"

    compress-response:
      compress:
        excludedContentTypes:
          - text/event-stream

    api-auth:
      basicAuth:
        users:
{% for user in traefik_basic_auth_users | default([]) %}
          - "{{ user }}"
{% endfor %}

    strip-api-prefix:
      stripPrefix:
        prefixes:
          - "/api"