# roles/traefik/templates/dynamic/routers.yml.j2
# Dynamic router configuration for Traefik

http:
  routers:
{% for service in traefik_services %}
    {{ service.name }}-router:
      rule: "{{ service.rule }}"
      entryPoints:
        - websecure
      service: {{ service.name }}-service
      tls:
        certResolver: letsencrypt
{% if service.middlewares | default([]) | length > 0 %}
      middlewares:
{% for mw in service.middlewares %}
        - {{ mw }}
{% endfor %}
{% endif %}
{% endfor %}